/* .page-margin__buddy {
    margin: 115px 30px 86px;
} */

.buddy__list {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 100px 0 86px;
    text-align: center;
}

.buddy__pair {
    margin-bottom: 20px;
    width: 315px;
}

.buddy {
    padding: 18px;
    margin: 0;
    box-sizing: border-box;
    font-weight: 600;
    color: #7589A2;
    border: 1px solid #E0E4E8;
    border-radius: 0 0 6px 6px;

}
.buddy__one {
    position: relative;
    border-radius: 6px 6px 0 0;
    border-bottom: none;
}

.buddy__plus-icon {
    background-image: url('../../images/plusIcon.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: -14.5px;
    left: 0;
    right: 0;
    height: 1.7rem;
}