.buddy__list--dashboard {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 10px 0 30px;
    text-align: center;
}
.team__list--dashboard {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 10px 0 30px;
    list-style: none;
}
