.side__footer {
    position: fixed;
    margin: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0 2px 11px 0 rgba(25, 50, 81, 0.2);
    border-radius: 10px;
}

.nav__footer {
    position: relative;
    height: 1.7rem;
    padding: 0.4rem;
}

.nav_list {
    position: relative;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    height: 30px;
}

.nav__button--dashboard {
    position: relative;
    background-image: url('../../images/DashboardIcon.svg');
    width: 18%;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;

}

.nav__button--buddy {
    position: relative;
    background-image: url('../../images/BuddyIcon.svg');
    width: 18%;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;

}

.nav__button--teams {
    position: relative;
    background-image: url('../../images/TeamIcon.svg');
    width: 18%;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;

}

.nav__button--energy {
    background-image: url('../../images/EnergyIcon.svg');
    width: 18%;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;

}

.nav__button--journal {
    background-image: url('../../images/JournalIcon.svg');
    width: 18%;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;

}